<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Login</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width"/>
  <link href="bootstrap3/css/bootstrap.css" rel="stylesheet"/>
  <link href="assets/css/ct-paper.css" rel="stylesheet"/>
  <link href="assets/css/demo.css" rel="stylesheet" />
  <link href="assets/css/examples.css" rel="stylesheet"/>
  <script src="assets/js/client.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <style>
    .btn-putih {
      color: #e2f1f8;
    }
  </style>
</head>
<body>
  <div id="login">
    <div class="wrapper">
      <div class="register-background">
        <div class="filter-black">
        </div>
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">
                <div class="register-card">
                  <h3 class="title">Welcome</h3>
                  <button id="login" @click="FBLogin" class="btn btn-info btn-fill btn-block">
                    <i class="fa fa-facebook-square"></i>
                    Login with Facebook
                  </button>
                  <form @submit.prevent="signin" class="register-form">
                    <label>Username</label>
                    <input v-model="username" type="text" class="form-control" placeholder="Username">
                    <label>Password</label>
                    <input v-model="password" type="password" class="form-control" placeholder="Password">
                    <button class="btn btn-success btn-block" >Signin</button>
                  </form>
                  <div class="forgot">
                    <a href="register.html" class="btn btn-success">Signup?</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript">
  new Vue(
  {
    el : '#login',
    data : {
      username : '',
      password : '',
      wrong : '',
      tokenfb : '',
      userfb : ''
    },
    methods : {
      FBLogin () {
        FB.login((response) => {
          FB.getLoginStatus((resStatus)=>{
            if (resStatus.status === 'connected') {
              // console.log(resStatus.authResponse);
              this.tokenfb = resStatus.authResponse.accessToken
              this.userfb = resStatus.authResponse.userID
              this.getLogin()
            } else {
              window.location = "http://todofancy.tk/login.html";
              console.log('User cancelled login or did not fully authorize.');
            }
          })
        }, { scope: 'public_profile, email' });
      },
      getLogin(){
        // console.log('INI TOKEN',   this.tokenfb);
        axios.get('http://api.todofancy.tk/login/fb', {
          headers: {
            accesstoken: this.tokenfb
          }
        })
        .then(({data}) => {
          // console.log('APA yang di bawa',data)
          localStorage.setItem('tokenjwt', data.token)
          localStorage.setItem('user_id', data.user_id)
          localStorage.setItem('username', data.name)
          localStorage.setItem('email', data.email)
          window.location = "http://todofancy.tk";
        })
        .catch(err => console.log(err))
      },
      signin(){
        // console.log('MASUK');
        let input = {
          username : this.username,
          password : this.password
        }
        axios.post('http://api.todofancy.tk/login', input)
        .then( response => {
          console.log('HASIL LOGIN', response.data);
          if(!response.data.msg){
            localStorage.setItem('tokenjwt', response.data.token)
            localStorage.setItem('user_id', response.data.user_id)
            localStorage.setItem('username', response.data.name)
            localStorage.setItem('email', response.data.email)
            window.location = "http://todofancy.tk";
          } else {
            this.wrong = response.data.msg
          }
        })
        .catch( err => {
          console.log(err);
        })
      }
    },
    created(){
      let session = localStorage.getItem('tokenjwt')
      console.log('SESSIONMU', session);
      if(session){
        window.location = "http://todofancy.tk/";
      }
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '538699039800903',
          cookie     : true,  // enable cookies to allow the server to access
                              // the session
          xfbml      : true,  // parse social plugins on this page
          version    : 'v2.8' // use graph api version 2.8
        });
      };
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    }
  })
</script>
<!--  Plugins -->
<!-- <script src="assets/js/ct-paper-checkbox.js"></script> -->
<!-- <script src="assets/js/ct-paper-radio.js"></script> -->
<!-- <script src="assets/js/bootstrap-select.js"></script>
<script src="assets/js/bootstrap-datepicker.js"></script> -->
<script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="bootstrap3/js/bootstrap.js" type="text/javascript"></script>
<script src="assets/js/ct-paper.js"></script>
</html>
